.multiselect-dropdown .selected-item {
  background: #198754 !important;
  border-color: #198754 !important;
}

.multiselect-dropdown .selected-item span {
  color: #fff !important;
}

.multiselect-dropdown .selected-item a {
  color: #fff !important;
}

